@charset "UTF-8";
/* CSS Document */

.center {
	text-align: center;
}

.fixed {
	position: fixed;
	width: 100%;
	opacity: 0.9;
	z-index: 1;
}

#header {
	padding: 65px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 4rem;
	margin: 0px;
}

#logo{
	font-family: 'Oswald', sans-serif;
	font-size: 1.3rem;
	margin: 0px;
}

#subheaderfont {
	font-family: 'Oswald', sans-serif;
}

#subheading {
	font-family: 'Assistant', sans-serif;
	font-size: 2rem;
	margin: 0;
	padding: 0 1.5rem;
}

.hero {
	min-height: 800px;
	min-height: 100vh;
	background-color: #bbe4f9;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: top;
}

.zoom {
	max-width: 100%;
	max-height: 100%;
}

.about {
	padding: 120px 0;
	margin: 0 auto;
	max-width: 1200px;
	text-align: center;
	min-height: 100vh;
}

.projects {
	padding: 70px 0;
	min-height: 100vh;
	background-color: #EEECEC;
}

.projectsBlock {
	padding-bottom: 0.5rem;
	display: inline-block;
	max-width: 100%;
}

.blog {
	padding: 120px 0;
	min-height: 100vh;
}

.contact {
	padding: 120px 0;
	min-height: 60vh;
}

.links, .links:link, .links:visited, .links:hover, .links:active {
	color: rgb(92, 92, 92);
	text-decoration: none;

}

.text-padding {
	padding-right: 1.5rem;
	padding-left: 1.5rem
}

.description-padding {
	padding-top: 0;
	padding-left: 6rem;
	padding-right: 6rem;
	padding-bottom: 0;
	margin-bottom: 0
}

.footer {
	position: relative;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background: #f9fafb;
	margin-bottom: 0 !important;
	text-align: center;
	padding-top: 10px;
	font-size: 0.5rem;
}

.footer p {
	margin: 10px 0;
}

li {
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
}

.caption{
	margin: 0;
	padding: 0;
	color: gray;
	font-size: 0.8rem
}

@-ms-viewport{
  width: device-width;
}

@media (max-width:991px) {
	.hero {
		min-height: 55vh;
	 }
	.about {
		padding: 50px 0;
	 }
 .projects {
		padding: 82px 0;
	}
	.contact {
		padding: 50px 0;
		min-height: 40vh;
		}
	#header {
		font-size: 3rem;
		padding: 90px 0 0 0
	 }
	#subheading {
		padding: 5px;
		font-size: 1.2rem; }
	.projectsBlock {
		max-width: 70%;
		max-height: 70%; }
	.description-padding {
		padding-top: 0;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 0;
		margin-bottom: 0
	}
	.mobileView {
		height: 175px;
		padding: 2px;
	}
	.vid-container {
	position: relative;
	padding-bottom: 50%;
	padding-top: 35px; height: 0; overflow: hidden;
}
	.vid-container iframe,
	.vid-container object,
	.vid-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.process {
		height: 190px;
	}
}
